{% extends 'base.html.twig' %}

{% block title %}Прогноз погоды{% endblock %}

{% block body %}

<div class="main-box">

      <div class="city-time-info">
        {{ current.city }}<span>{{ current.date }}</span>
      </div>

      <div class="grid-temp-table">
        <div><i class="fas fa-sun"></i></div>
        <div>{{ current.temp }}</div>
        <div>{{ current.weather }}</div>
      </div>

      <div class="grid-info-table">
        <div>
          <i class="fas fa-wind wind-ico"></i>
          <div class="wind-block">
            Wind<br>
            <span>{{ current.wind }} km/h</span>
          </div>
        </div>
        <div>
          <i class="fas fa-tint humidity-ico"></i>
          <div class="humidity-block">
            Humidity<br>
            <span>{{ current.humidity }}%</span>
          </div>
        </div>
      </div>

      <div class="view-weather-history-block">
        <a href="/history"></a>
        View<br><b>weather history</b>
        <i class="fas fa-history"></i>
      </div>

      <div class="weather-forecast-title">
        Weather forecast
      </div>

      <div class="grid-weather-forecast-table">
        {% for fc in forecast %}
            <div>{{ fc.time }}</div>
            <div>{{ fc.weather }}</div>
            <div>{{ fc.temp }}°</div>
        {% endfor %}
      </div>

    </div>

{% endblock %}
